{% comment %} <h3 style = "position :absolute;left: 760px;top: 0px;margin-top: 14px; color : white">생활낙원</h3> {% endcomment %}
<form class="form-inline mr-auto top_search" action="{% url 'keyword' %}" method="get">
    
    {% comment %} <div class="search-element">
        <input class="form-control top_control" type="search" placeholder="Search"aria-label="Search"data-width="250"name="keyword">
            <button class="btn" type="submit" style="height:44px">
                <i class="fas fa-search"></i>
            </button>

        </div> {% endcomment %}
    </form>